.myEdu{
  margin-top: 50px;
  &__card-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 400px;
    @media (max-width: 1044px){
      height: 800px;
    }
    @media (max-width: 701px){
      height: 1200px;
    }
  }
}