.header {
  background: #323232;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__logo-img {
    height: 40px;
    transition: 0.5s;
    &:hover{
      filter: drop-shadow((0 0 10px #58a5e4))
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
  }
}