.contactCard {
  width: 22px;
  height: 22px;

  &__img {
    svg {
      width: 22px;
      height: 22px;
      transition: 0.5s;
      fill: var(--icon-bg-color);
      &:hover {
        filter: drop-shadow((0 0px 10px var(--icon-ds-color)))
      }
    }
  }
}